name: Build Beryllium-Installer ZIP

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install 7zip
        run: sudo apt-get update && sudo apt-get install -y p7zip-full

      - name: Set build date and artifact name
        run: |
          BUILD_DATE=$(date '+%d%m%y')
          echo "BUILD_DATE=$BUILD_DATE" >> $GITHUB_ENV
          echo "ARTIFACT_NAME=PocoF1-wininstaller-$BUILD_DATE" >> $GITHUB_ENV
          echo "ZIP_NAME=PocoF1_WinInstaller_${BUILD_DATE}.zip" >> $GITHUB_ENV

      - name: Create temp and target directories
        run: |
          mkdir -p temp/ToolBox

      - name: Setup installer directory
        run: |
          mkdir -p installer
          curl -L https://github.com/Kumar-Jy/Windows-in-PocoF1-Without-PC/releases/download/Misc-Files/pe.img \
          -o installer/pe.img
          curl -L https://github.com/Kumar-Jy/Windows-in-PocoF1-Without-PC/releases/download/UEFI-Boot-Image/Beryllium-Driver.zip \
          -o installer/Driver.zip

      - name: Setup ToolBox
        run: |
          curl -L https://github.com/Misha803/My-Scripts/releases/download/WOA-ToolBox/WOA-Toolbox-NEW.exe \
          -o /temp/ToolBox/ToolBox.exe
          curl -L https://github.com/asheroto/Deploy-Office/releases/latest/download/Deploy-Office.exe \
          -o /temp/ToolBox/Deploy-Office.exe
          curl -L https://github.com/Kumar-Jy/WOAInstaller/releases/download/files/AtlasPlaybook_v0.5.0-hotfix.apbx \
          -o /temp/ToolBox/AtlasPlaybook.apbx
          curl -L https://github.com/Kumar-Jy/WOAInstaller/releases/download/files/AME.Beta.exe \
          -o /temp/ToolBox/AME-Wizard.exe
          curl -L https://github.com/Kumar-Jy/WOAInstaller/releases/download/files/Dism++10ARM.zip \
          -o /temp/ToolBox/Dism++.zip
          cd temp/ToolBox && 7z a ../../Toolbox.zip *

      - name: Download Woa-Helper
        run: |
          curl -L https://github.com/n00b69/woa-helper/releases/download/APK/BETAwoahelper1.8.4.44.apk \
          -o woahelper.apk

      - name: Generate and copy SHA-256 checksums
        run: |
          cd installer && find . -type f -print0 | xargs -0 sha256sum > ../temp/sha256sum
          cp ../temp/sha256sum sha256sum

      - name: Cleanup temp folders
        continue-on-error: true
        run: |
          rm -rf temp

      - name: Upload installer artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: |
            installer
            Toolbox.zip
            META-INF
            woahelper.apk
  
      - name: Create Final ZIP
        run: |
          7z a "${ZIP_NAME}" installer Toolbox.zip META-INF woahelper.apk

      - name: Upload release (GitHub Release)
        uses: softprops/action-gh-release@v2
        with:
          tag_name: PocoF1_WinInstaller
          files: ${{ env.ZIP_NAME }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
